# Cleaning Data
The best way to clean data is to code it yourself.

The same Phase II clinical trial dataset for a new oral insulin called Auralin in Lesson 3 (Assessing Data) is used here again in Lesson 4 (Cleaning Data).

---

## Manual vs. Programmatic Cleaning
**Manual Data Cleaning** includes:

- Retyping incorrect data
- Copying and pasting columns and rows

However, manual cleaning is inefficient, error-prone, and demoralizing. So never clean manually.

**Programmatic Data Cleaning** uses code to:

- Automate cleaning tasks
- Minimize repetition
- Save time

Data wrangling takes a tremendous amount of time for the data professional, so doing anything that saves time is great.

---

## Data Cleaning Process
Programmatic data cleaning is a separate process within data wrangling. It has three steps:

1. **Define:** the first step is to define a data cleaning plan in writing by converting your assessments into cleaning tasks by writing little how-to guides. This plan also serves as documentation so that your work can be reproduced.
2. **Code:** second, you'll translate these words to code and actually run it.
3. **Test:** finally, you'll test your dataset often using code to make sure your cleaning code worked. This is like a revisiting the assess step.

> Remember that before any cleaning occurs, it's good practice to make a copy of each piece of data. This can be done using the `copy`[method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.copy.html).

---

## Cleaning Sequences
There are multiple ways of sequencing the steps in the data cleaning process. For instance:

### Gather

In [1]:
import pandas as pd

In [2]:
animals = pd.read_csv('support-files/04_Cleaning-Data/animals.csv')

### Assess

In [3]:
animals.head()

              Animal Body weight (kg) Brain weight (g)
0  bbMountain beaver             1!35              8!1
1              bbCow              465              423
2        bbGrey wolf            36!33            119!5
3             bbGoat            27!66              115
4       bbGuinea pig             1!04              5!5

#### Quality
- bb before every animal name
- ! instead of . for decimal in body weight and brain weight

### Clean

In [4]:
animals_cleaned = animals.copy()

#### Define
- Remove 'bb' before every animal name using string slicing
- Replace ! with . in body weight and brain weight columns

#### Code

In [5]:
# remove 'bb' before every animal name using string slicing
animals_cleaned['Animal'] = animals_cleaned['Animal'].str[2:]

Note: `str.replace` [documentation](https://docs.python.org/dev/library/stdtypes.html#str.replace).

In [6]:
# replace ! with . in body weight and brain weight columns
animals_cleaned['Body weight (kg)'] = animals_cleaned['Body weight (kg)'].str.replace('!', '.')
animals_cleaned['Brain weight (g)'] = animals_cleaned['Brain weight (g)'].str.replace('!', '.')

#### Test

In [7]:
animals_cleaned.head()

            Animal Body weight (kg) Brain weight (g)
0  Mountain beaver             1.35              8.1
1              Cow              465              423
2        Grey wolf            36.33            119.5
3             Goat            27.66              115
4       Guinea pig             1.04              5.5

### Another possible cleaning sequence
You can also use multiple **Define**, **Code**, and **Test** headers, one for each data quality and tidiness issue (or group of data quality and tidiness issues). Effectively, you are defining then coding then testing immediately. This sequence is helpful when you have a lot of quality and tidiness issues to clean. Since that is the case in this lesson, this sequence will be used.

Pasting each assessment above the **Define** header as its own header can also be helpful.

In [8]:
# reload animals_cleaned
animals_cleaned = animals.copy()

In [9]:
# checking it worked
animals_cleaned.head(1)

              Animal Body weight (kg) Brain weight (g)
0  bbMountain beaver             1!35              8!1

### Clean

#### Assessment
bb before every animal name

#### Define
Remove 'bb' before every animal name using string slicing.

#### Code

In [10]:
animals_cleaned['Animal'] = animals_cleaned['Animal'].str[2:]

#### Test

In [11]:
animals_cleaned.head()

            Animal Body weight (kg) Brain weight (g)
0  Mountain beaver             1!35              8!1
1              Cow              465              423
2        Grey wolf            36!33            119!5
3             Goat            27!66              115
4       Guinea pig             1!04              5!5

#### Assessment
! instead of . for decimal in body weight and brain weight

#### Define
Replace ! with . in body weight and brain weight columns

#### Code

In [12]:
animals_cleaned['Body weight (kg)'] = animals_cleaned['Body weight (kg)'].str.replace('!', '.')
animals_cleaned['Brain weight (g)'] = animals_cleaned['Brain weight (g)'].str.replace('!', '.')

#### Test

In [13]:
animals_cleaned.head()

            Animal Body weight (kg) Brain weight (g)
0  Mountain beaver             1.35              8.1
1              Cow              465              423
2        Grey wolf            36.33            119.5
3             Goat            27.66              115
4       Guinea pig             1.04              5.5

## Cleaning: Phase II Clinical Trial for Auralin

### Assessments (copied from the previous lesson to avoid having two notebooks open):

### Quality
##### `patients` table: 
- Zip code is a float not a [string](https://stackoverflow.com/questions/893454/is-it-a-good-idea-to-use-an-integer-column-for-storing-us-zip-codes-in-a-databas) (validity issue)
- Zip code has four digits sometimes (probably the spreadsheet software recognized the zip code column as a number and supressed the 0 if the zip code started with a 0) (accuracy issue). 
- Tim Neudorf height is 27 inches instead of 72 inches (accuracy issue)
- Full state names sometimes, abbreviations other times (consistency issue)
- Dsvid Gustafsson (name typo, patient_id: 9) (accuracy issue)
- Missing demographic information (address through contact columns)
- Erroneus datatypes (`assigned_sex`, `state`, `zip_code`, and `birthdate` columns)
- Multiple phone number formats (`contact` column)
- Default John Doe data
- Multiple records for Jakobsen, Gersten, Taylor
- Kgs instead of lbs for patient surname Zaitseva weight (patient_id: 211)
- Nulls represented as dashes (-) in auralin and novodra columns

##### `treatments` table:
- Missing HbA1c changes (completeness issue)
- The letter 'u' in starting and ending doses for Auralin and Novodra (validity issue)
- Lowercase given names and surnames (since the patients table has the name in uppercase, this will be an issue if you decide to join tables) (consistency issue)
- Missing records (280 instead of 350) (completeness issue)
- Erroneus datatypes (`auralin` and `novodra` columns)
- Inaccurate HbA1c changes 

##### `adverse_reactions` table:
- Lowercase given names and surnames (consistency issue)

### Tidiness
##### `patients` table: 
- `contact` column should be split into `phone number` and `email`

##### `treatments` table:
- Three variables in two columns in `treatments` table (`treatment`, i.e., auralin or novadra, `start_dose`, and `end_dose`).
- Include the `adverse_reaction` column from the `adverse_reactions` table
- Include `patient_id` column from the `patients` table to serve as primary key and facilitate joining the remaining two tables (`treatments` and `patients`) afterwards

##### `adverse_reactions` table:
- After adding the `adverse_reaction` column to the `treatment` table, drop column. 

---

In [14]:
patients = pd.read_csv('support-files/04_Cleaning-Data/patients.csv')
treatments = pd.read_csv('support-files/04_Cleaning-Data/treatments.csv')
adverse_reactions = pd.read_csv('support-files/04_Cleaning-Data/adverse_reactions.csv')

### Remember to copy the originals!

In [15]:
patients_clean = patients.copy()
treatments_clean = treatments.copy()
adverse_reactions_clean = adverse_reactions.copy()

### Address Missing Data First

When checking data quality, it is usually best to deal with **completeness issues first**. For missing data this means:

- Concatenate
- Join
- Impute, if possible

It's important to do this upfront so that subsequent data cleaning will not have to be repeated.

Going through the assessments above, there are three (3) completeness issues:

**`treatments` table:**

- Missing HbA1c changes
- Missing records (280 instead of 350)

**`patients` table:**
-  Missing demographic information (address - contact columns)

Unfortunately, we can't do anything about the missing demographic information because we have no way of accessing that information until those patients come back. But let's deal with the other missing data issues now.

### Clean

#### 1. Missing Data

#### `treatments`: Missing records (280 instead of 350)

##### 1.1. Define: 

First, import the cut treatments into a DataFrame. Then, use `pd.concat` ([documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html)) to join the 70 missing records to the `treatments` table. 

##### Code:

In [16]:
# load the missing entries from the treatments table
treatment_cut = pd.read_csv('support-files/04_Cleaning-Data/treatments_cut.csv')

##### Test:

In [17]:
# check to see if it worked
treatment_cut.info() # the 70 missing entries

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   given_name    70 non-null     object
 1   surname       70 non-null     object
 2   auralin       70 non-null     object
 3   novodra       70 non-null     object
 4   hba1c_start   70 non-null     float64
 5   hba1c_end     70 non-null     float64
 6   hba1c_change  42 non-null     float64
dtypes: float64(3), object(4)
memory usage: 4.0+ KB

In [18]:
# confirm that our current treatment dataframe is missing those 70 entries
treatments_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   given_name    280 non-null    object
 1   surname       280 non-null    object
 2   auralin       280 non-null    object
 3   novodra       280 non-null    object
 4   hba1c_start   280 non-null    float64
 5   hba1c_end     280 non-null    float64
 6   hba1c_change  171 non-null    float64
dtypes: float64(3), object(4)
memory usage: 15.4+ KB

##### Code:

In [19]:
# use pd.concat to join both dataframes
treatments_clean = pd.concat([treatments_clean, treatment_cut], ignore_index=True)

##### Test:

In [20]:
# check to see if it worked
treatments_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   given_name    350 non-null    object
 1   surname       350 non-null    object
 2   auralin       350 non-null    object
 3   novodra       350 non-null    object
 4   hba1c_start   350 non-null    float64
 5   hba1c_end     350 non-null    float64
 6   hba1c_change  213 non-null    float64
dtypes: float64(3), object(4)
memory usage: 19.3+ KB

---
#### `treatments`: Missing HbA1c changes and inaccurate HbA1c changes (leading 4s mistaken as 9s)

##### 1.2. Define:
Subtract the column `hba1c_start` from the column `hba1c_end` to get the missing `hba1c_change` entries. 

Note: once you perform the subtraction on the whole column, the inaccurate HbA1c changes will also be correted. Two birds, one stone. 

##### Code:

In [21]:
# in the second entry we can spot an instance of a inaccurate HbA1c change
treatments_clean.head()

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32

In [22]:
# subtract the two columns
treatments_clean['hba1c_change'] = treatments_clean['hba1c_start'] - treatments_clean['hba1c_end']

##### Test:

In [23]:
treatments_clean['hba1c_change'].head()

0    0.43
1    0.47
2    0.43
3    0.35
4    0.32
Name: hba1c_change, dtype: float64

### Address Tidiness
After dealing with structural issues (like missing data), it's best to address tidiness. Finally, deal with content issues (quality).

Statistician, Hadley Wickham, is the pioneer of tidy data, and in his paper, 'Tidy data' (*The Journal of Statistical Software*, vol. 59, 2014), he makes these key points:

- Tidy datasets are easy to manipulate
- Tidy datasets with data quality issues are almost always easier to clean than untidy datasets with the same issues

#### Tidiness issues in the clinical trial dataset:

##### `patients` table: 
- `contact` column should be split into `phone number` and `email`

##### `treatments` table:
- Three variables in two columns in `treatments` table (`treatment`, i.e., auralin or novadra, `start_dose`, and `end_dose`).
- Include the `adverse_reaction` column from the `adverse_reactions` table
- Include `patient_id` column from the `patients` table to serve as primary key and facilitate joining the remaining two tables (`treatments` and `patients`) afterwards

##### `adverse_reactions` table:
- After adding the `adverse_reaction` column to the `treatment` table, drop column. 

### Clean

#### 2. Tidiness

#### `patients`: `contact` column should be split into `phone number` and `email`

#####  2.1. Define:
In the `patients` table, use `str.extract` [method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.extract.html) to separate phone number and email into two columns. 

- Hint 1: [regex tutorial](https://regexone.com/)
- Hint 2: [various phone number regex patterns](https://stackoverflow.com/questions/16699007/regular-expression-to-match-standard-10-digit-phone-number)
- Hint 3: [email address regex pattern](http://emailregex.com/)

##### Code:

In [24]:
patients.head()

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1

There are dozens of ways to format US phone number. To name a few:

```###-###-####```

```(###) ###-####```

```### ### ####```

```###.###.####```

```#+ ###.###.####```

The regular expression must be able to encompass them all!

In [25]:
patients['phone_number'] = patients['contact'].str.extract(r'(\+?\d?[\s.-]?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4})', expand=False)

In [26]:
patients.head()

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi,phone_number
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6,951-719-9170
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2,+1 (217) 569-3204
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8,402-363-6804
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7,+1 (732) 636-8246
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1,334-515-7487

In [27]:
patients['phone_number'].values

array(['951-719-9170', '+1 (217) 569-3204', '402-363-6804',
       '+1 (732) 636-8246', '334-515-7487', '386-334-5237',
       '775-533-5933', '1 408 778 3236', '816-265-9578', '1 718 795 9124',
       '906-478-8949', '1 931 207 0839', '434-509-2614',
       '+1 (205) 417-8095', '918-712-3469', '276-225-1955',
       '1 559 765 7836', '678-829-8578', '406-775-2696', '1 530 532 8397',
       '1 781 447 1763', '973-445-5341', '914-745-6108', '1 813 355 9476',
       '+1 (845) 858-7707', '505-828-4955', '309-671-8852',
       '985-814-7603', '1 267 895 7462', '+1 (845) 858-7707',
       '303-910-2058', '423-538-4887', '562-985-4582', '815-270-7770',
       '207-825-8634', '718-501-0503', '715-562-7013',
       '+1 (605) 204-6572', '1 978 460 9060', '508-454-2027',
       '1 404 547 4508', '320-826-3340', '561-357-0702', '1 307 712 0508',
       '1 207 861 4587', '1 731 632 2908', '724-419-3583', '404-289-1766',
       '312-719-7238', '419-262-6953', '570-819-1140', '1 309 912 9553',
       '515-727-9324', '617-317-5055', '978-407-1874', '1 702 730 5584',
       '+1 (706) 497-0891', '858-413-3163', '412-640-7035',
       '1 252 291 3898', '619-570-3898', '1 661 779 6795', '617-883-5967',
       '619-299-1495', '+1 (315) 362-5858', '765-379-3885',
       '760-287-8295', '508-804-4850', '414-646-4353',
       '+1 (773) 615-9328', '1 740 629 5172', '860-515-0122',
       '504-289-1386', '978-969-6753', '918-975-7594',
       '+1 (510) 498-6624', '612-925-3123', '859-297-3368',
       '1 774 263 5317', '302-397-6035', '+1 (646) 621-0640',
       '580-934-1141', '678-350-2390', '937-523-1224', '516-720-5094',
       '407-662-9389', '240-695-5212', '320-272-4299', '706-755-5723',
       '+1 (480) 967-6336', '+1 (585) 902-9127', '713-230-1739',
       '609-914-8473', '786-234-0038', '305-361-8416', '325-282-4087',
       '207-768-0477', '402-848-4923', '+1 (907) 328-4125',
       '914-830-3940', '701-676-6301', '417-738-5084',
       '+1 (334) 261-1235', '+1 (407) 838-0201', '1 602 265 7408',
       '919-915-8670', '1 765 599 8847', '240-322-1398', '1 620 940 1131',
       '601-699-4153', '+1 (214) 637-0855', '661-291-1812',
       '+1 (757) 885-5669', '1 713 779 6516', '917-256-5329',
       '1 707 262 6503', '606-417-4332', '+1 (504) 528-8317',
       '337-685-4885', '832-457-6625', '415-676-8818', '1 315 869 4408',
       '231-607-3625', '727-331-8429', '+1 (508) 526-3432',
       '918-714-7543', '508-739-5632', '360-482-2553', '1 317 292 2394',
       '631-370-7406', '843-494-0313', '304-438-2648', '570-698-4203',
       '+1 (803) 465-3312', '+1 (518) 212-7081', '440-385-5011',
       '714-507-4204', '954-784-6658', '804-908-1436',
       '+1 (513) 383-0516', '217-421-0935', '903-644-2098',
       '516-740-5280', '206-902-0473', '260-591-5755',
       '+1 (267) 679-4137', '1 219 391 7729', '310-268-6864',
       '718-418-0766', '830-640-5848', '863-438-6922', '916-224-7868',
       '+1 (516) 630-5900', '1 775 770 7827', '1 608 277 0146',
       '618-261-9896', '+1 (612) 208-2965', '920-849-0384',
       '+1 (918) 971-5864', '+1 (828) 586-5050', '602-993-7880',
       '406-759-6160', '916-555-7247', '803-712-1180', '913-393-8663',
       '+1 (662) 716-9586', '903-749-8046', '781-604-1901',
       '650-849-6900', '302-474-8075', '718-628-9500', '815-533-7692',
       '319-541-3295', '248-944-0932', '509-466-2907', '1 217 491 5261',
       '1 508 857 0477', '323-327-4721', '773-934-7423', '641-753-5678',
       '318-417-5739', '1 970 754 5843', '201-739-3931', '909-355-9418',
       '+1 (386) 989-0019', '1 989 375 2216', '+1 (401) 485-6384',
       '773-607-2647', '1 212 201 3108', '+1 (916) 453-3601',
       '+1 (724) 449-6928', '+1 (312) 864-5737', '631-704-6487',
       '203-933-3979', '609-466-3275', '985-253-7891', '512-738-2609',
       '1 989 705 7690', '+1 (859) 977-9462', '1 205 648 4197',
       '856-655-5415', '1 603 773 2333', '503-820-7877', '636-442-6946',
       '405-234-5350', '716-743-5884', '806-323-2210', '989-936-4563',
       '+1 (817) 909-5667', nan, '330-202-2145', '1 612 228 4170',
       '704-805-5094', '917-622-9142', '+1 (802) 952-6490', '1234567890',
       '646-472-4758', '706-266-4583', '423-563-2014', nan,
       '+1 (707) 896-9250', '+1 (267) 932-9852', '502-367-6167',
       '1 208 897 3897', '802-614-0812', '202-485-6607', '914-784-6646',
       '402-938-2157', '916-379-7480', '1234567890', nan,
       '1 252 583 5410', '1 858 587 9945', '504-546-5321', nan,
       '606-368-9825', '303-360-3627', '1234567890', '215-528-2193',
       '228-378-1355', '+1 (256) 615-5522', '901-484-5225', nan,
       '715-817-0134', '1234567890', '815-979-8782', '714-431-2746',
       '917-408-8855', '308-496-7837', nan, '410-284-8935', '1234567890',
       '978-243-8596', '321-287-0484', '412-274-6756', '715-231-3508',
       '570-797-6666', nan, '1 818 841 7660', '727-439-7150',
       '925-757-6139', '617-297-0387', '713-556-4328',
       '+1 (212) 782-4151', nan, '+1 (989) 826-7884', '1 606 632 4327',
       '+1 (785) 823-6728', '650-631-0002', nan, '+1 (618) 512-3319',
       '956-380-7249', '+1 (937) 518-7238', '601-848-3093',
       '740-552-2444', '+1 (224) 305-6805', '+1 (208) 264-9063',
       '1234567890', nan, '304-567-9723', '210-218-3477', '205-494-6040',
       '304-438-2648', '+1 (708) 845-2053', '774-219-3140',
       '580-991-9678', nan, '1 619 818 3436', '831-427-4114',
       '504-441-7744', '781-739-0244', '302-698-2057', '815-457-5970',
       '408-834-4087', '1 508 921 6327', '1 916 817 9960', nan,
       '724-759-0310', '361-533-5161', '208-826-1678', '706-616-0152',
       '646-982-6609', '601-296-7799', '1 313 589 1746', '502-902-6188',
       '+1 (607) 348-5625', '402-780-5724', '228-237-2271',
       '631-875-3023', '256-872-9211', '1 913 322 9114', '601-389-7682',
       '1 323 280 6511', '251-359-2088', '908-884-4247',
       '+1 (830) 851-4280', '413-259-3637', '+1 (702) 438-5138',
       '1 718 954 8136', '701-235-3404', '262-565-9052', '1 504 403 4615',
       '254-546-2728', '1 513 478 6938', '202-238-2247', '1 312 856 6826',
       '518-379-0603', '908-871-7009', '+1 (612) 342-6065',
       '1 813 434 8122', '+1 (843) 368-5129', '1 323 635 9919',
       '1 615 755 8235', '1 260 623 1176', '630-837-9473', '765-359-0147',
       '248-978-1574', '208-830-2415', '+1 (985) 335-8662',
       '1 952 431 5166', '661-265-8708', '1 949 290 0728',
       '1 860 618 4560', '203-251-3573', '404-713-3641', '219-843-3924',
       '607-206-1483', '858-273-2043', '+1 (608) 527-1021',
       '360-494-5489', '+1 (972) 557-0198', '423-799-1730',
       '912-988-6655', '478-676-7058', '201-586-2848', '401-456-2797',
       '+1 (225) 695-5230', '937-592-9410', '1 203 235 1076',
       '254-518-6365', '1 678 412 3728', '915-612-1462', '757-624-1525',
       '562-452-5685', '818-372-7106', '540-986-1369', '605-250-4942',
       '775-358-9076', '1 617 830 7216', '619-652-0285', '508-821-2421',
       '+1 (908) 287-7099', '618-346-3914', '479-248-5663',
       '509-397-8510', '985-580-4827', '+1 (501) 636-4058',
       '217-485-5673', '1 901 316 3780', '580-622-5674', '609-641-2070',
       '+1 (870) 457-5086', '989-822-1351', '1 208 657 2473',
       '+1 (605) 440-5492', '434-361-8479', '408-215-6012',
       '561-826-5683', '318-621-7385', '918-459-9811', '979-639-7844',
       '786-970-4206', '630-252-5095', '1 703 716 8652', '903-939-1025',
       '336-677-8769', '863-386-3795', '585-889-5156',
       '+1 (706) 777-4981', '+1 (360) 965-1558', '920-892-2965',
       '+1 (785) 748-8181', '601-885-6550', '401-535-2675',
       '409-944-6516', '541-967-9779', '+1 (706) 581-5226',
       '405-470-5088', '+1 (989) 390-0285', '716-897-5050',
       '1 405 449 7960', '1 518 487 4865', '+1 (513) 297-6359',
       '313-341-7799', '937-526-1152', '909-861-4356', '631-664-4813',
       '360-689-4989', '1 701 745 2700', '317-956-6166', '631-479-8171',
       '870-270-5502', '641-475-9654', '719-661-6624',
       '+1 (401) 419-2975', '908-751-4255', '305-434-6299',
       '325-513-8964', '412-319-0903', '218-773-9682', '701-662-1983',
       '510-376-3772', '1 979 203 0438', '412-449-0733',
       '+1 (323) 209-0527', '+1 (757) 736-7026', '703-547-0551',
       '+1 (262) 878-9576', '330-365-4059', '1 515 362 6574',
       '+1 (573) 493-4748', '559-693-6779', '516-512-4875',
       '352-362-5392', '415-277-2563', '408-792-9489', '601-418-0102',
       '708-691-2195', '216-502-3773', '+1 (215) 769-7116',
       '516-626-8021', '1 909 982 4264', '717-368-8321', '281-556-4376',
       '1 606 589 2819', '215-321-9611', '1 757 269 6500', '817-777-5289',
       '775-848-6970', '619-710-6286', '+1 (510) 238-1151',
       '646-289-4177', '213-749-6958', '1 573 437 7334', '205-467-9279',
       '254-582-1795', '+1 (612) 589-1495', '530-773-9263',
       '573-728-3861', '910-264-6229', '386-234-5932', '503-417-1995',
       '601-446-6829', '1 508 905 2371', '678-263-3564', '650-962-7179',
       '267-972-3749', '+1 (843) 212-6421', '+1 (415) 755-6435',
       '1 909 458 2515', '1 210 326 5509', '1 918 706 2776',
       '361-693-4960', '731-577-0292', '336-697-2005', '1 850 659 0417',
       '254-681-4504', '1 785 229 1188', '352-453-4601', '925-283-5425',
       '914-636-9304', '210-222-8684', '714-496-2264',
       '+1 (208) 388-1065', '+1 (586) 790-0975', '650-570-4896',
       '1 209 762 2320', '+1 (918) 984-9171', '207-477-0579',
       '928-284-4492', '816-223-6007', '1 360 443 2060', '402-848-4923'],
      dtype=object)